$input-height: 32px;
$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-color-hover: #666;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, .5);
$red: #F1453D;

$font-size: 14px;
$button-height: 32px;
$border-bg: #fff;
$button-active-bg: #eee;

$grey:#eee;
.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .25)
}
