$input-height: 32px;
$border-color: #999;
$border-color-light: lighten($border-color, 30%);
$border-color-hover: #666;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, .5);
$red: #F1453D;

$color: #333;
$light-color: #666;

$small-font-size: 12px;
$font-size: 14px;
$button-height: 32px;
$border-bg: #fff;
$button-active-bg: #eee;

$border-bottom-color: #4a90e2;

$grey:#eee;
.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, .25)
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@mixin spin {
	animation: spin 1s linear infinite;
}